.conttop
    .gerb.gerb_mob
        .gerb__img
            img(src="img/gerb.png" width="40" height="43")
        .gerb__article Лицензия департамента <br>здравоохранения города Москвы

    .conttop__block-wrap
        .conttop__item
            .conttop__title Профосмотры для организаций 302Н

            .exp-block
                .exp-block__top
                    .exp-block__num 
                        |25 
                        span лет
                    .exp-block__article Проводим профосмотры
                .exp-block__bottom Мы продаём ТОЛЬКО медицинские услуги и можем платно оформить Вам медицинские документы, имеющие законную силу.

            .conttop__sub-title Проведение осмотров с выездом на предприятие или в клинике согласно приказа 302н

            ul.about-list
                li
                    .about-list__img
                        img(src="img/wallet.png" width="60" height="60")
                    .about-list__article
                        .about-list__article-top За 1 сотрудника
                        .about-list__article-bottom от 1 000 руб.
                li
                    .about-list__img
                        img(src="img/medical-report.png" width="60" height="60")
                    .about-list__article
                        .about-list__article-top Официально
                        .about-list__article-bottom 
                            a(href="#") Лицензии
                li
                    .about-list__img
                        img(src="img/keys.png" width="60" height="60")
                    .about-list__article
                        .about-list__article-top Без отрыва от работы
                        .about-list__article-bottom С выездом

            .placement
                .placement__icon
                    img(src="img/location.png" width="30" height="30")
                .placement__article
                    .placement__num 26 
                    .placement__txt 
                        span медицинских центров  
                        |рядом с метро в Москве и МО:
