.conttop
    .gerb.gerb_mob
        .gerb__img
            img(src="img/gerb.png" width="40" height="43")
        .gerb__article Лицензия департамента <br>здравоохранения города Москвы

    .conttop__block-wrap
        .conttop__item
            .conttop__title Профосмотры для организаций 302Н

            .exp-block
                .exp-block__top
                    .exp-block__num 
                        |25 
                        span лет
                    .exp-block__article Проводим профосмотры
                .exp-block__bottom Мы продаём ТОЛЬКО медицинские услуги и можем платно оформить Вам медицинские документы, имеющие законную силу.

            .conttop__sub-title Проведение осмотров с выездом на предприятие или в клинике согласно приказа 302н

            ul.about-list
                li
                    .about-list__img
                        img(src="img/wallet.png" width="60" height="60")
                    .about-list__article
                        .about-list__article-top За 1 сотрудника
                        .about-list__article-bottom от 1 000 руб.
                li
                    .about-list__img
                        img(src="img/medical-report.png" width="60" height="60")
                    .about-list__article
                        .about-list__article-top Официально
                        .about-list__article-bottom 
                            a(href="#") Лицензии
                li
                    .about-list__img
                        img(src="img/keys.png" width="60" height="60")
                    .about-list__article
                        .about-list__article-top Без отрыва от работы
                        .about-list__article-bottom С выездом

            .placement
                .placement__icon
                    img(src="img/location.png" width="30" height="30")
                .placement__article
                    .placement__num 26 
                    .placement__txt 
                        span медицинских центров  
                        |рядом с метро в Москве и МО:

.medcenters.container
    h1.block-title Медосмотры работников в Москве и МО

    ul.medcenters__list
        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медосмотры на Бульваре Рокоссовского
                    .medcenter-card__img
                        img(src="img/ph-1.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Ивантеевская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Бульвар Рокоссовского

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Периодический медосмотр на Братиславской
                    .medcenter-card__img
                        img(src="img/ph-2.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Братиславская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Братиславская

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медкомиссия на Бунинской аллее
                    .medcenter-card__img
                        img(src="img/ph-3.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Адмирала Лазарева
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Бунинская аллея

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медосмотры на Севастопольской
                    .medcenter-card__img
                        img(src="img/ph-4.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Малая Юшуньская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Каховская/Севастопольская

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Предварительный медосмотр на Жулебино
                    .medcenter-card__img
                        img(src="img/ph-5.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Генерала Кузнецова, 19к1
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Жулебино

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медосмотры на Бульваре Рокоссовского

                    .medcenter-card__img
                        img(src="img/ph-6.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Ивантеевская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Бульвар Рокоссовского

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Периодический медосмотр на Братиславской

                    .medcenter-card__img
                        img(src="img/ph-7.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Братиславская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Братиславская

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медкомиссия на Бунинской аллее

                    .medcenter-card__img
                        img(src="img/ph-8.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Адмирала Лазарева
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Бунинская аллея

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медосмотры на Севастопольской

                    .medcenter-card__img
                        img(src="img/ph-9.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Малая Юшуньская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Каховская/Севастопольская

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Предварительный медосмотр на Жулебино

                    .medcenter-card__img
                        img(src="img/ph-10.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Генерала Кузнецова, 19к1
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Жулебино

                    button(type="button").medcenter-card__btn Записаться на осмотр

    .allcenters-link
        a(href="#") Все медицинские центры