.conttop
    .gerb.gerb_mob
        .gerb__img
            img(src="img/gerb.png" width="40" height="43")
        .gerb__article Лицензия департамента <br>здравоохранения города Москвы

    .conttop__block-wrap
        .conttop__item
            .conttop__title Профосмотры для организаций 302Н

            .exp-block
                .exp-block__top
                    .exp-block__num 
                        |25 
                        span лет
                    .exp-block__article Проводим профосмотры
                .exp-block__bottom Мы продаём ТОЛЬКО медицинские услуги и можем платно оформить Вам медицинские документы, имеющие законную силу.

            .conttop__sub-title Проведение осмотров с выездом на предприятие или в клинике согласно приказа 302н

            ul.about-list
                li
                    .about-list__img
                        img(src="img/wallet.png" width="60" height="60")
                    .about-list__article
                        .about-list__article-top За 1 сотрудника
                        .about-list__article-bottom от 1 000 руб.
                li
                    .about-list__img
                        img(src="img/medical-report.png" width="60" height="60")
                    .about-list__article
                        .about-list__article-top Официально
                        .about-list__article-bottom 
                            a(href="#") Лицензии
                li
                    .about-list__img
                        img(src="img/keys.png" width="60" height="60")
                    .about-list__article
                        .about-list__article-top Без отрыва от работы
                        .about-list__article-bottom С выездом

            .placement
                .placement__icon
                    img(src="img/location.png" width="30" height="30")
                .placement__article
                    .placement__num 26 
                    .placement__txt 
                        span медицинских центров  
                        |рядом с метро в Москве и МО:

.medcenters.container
    h2.block-title Медосмотры работников в Москве и МО

    ul.medcenters__list
        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медосмотры на Бульваре Рокоссовского
                    .medcenter-card__img
                        img(src="img/ph-1.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Ивантеевская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Бульвар Рокоссовского

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Периодический медосмотр на Братиславской
                    .medcenter-card__img
                        img(src="img/ph-2.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Братиславская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Братиславская

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медкомиссия на Бунинской аллее
                    .medcenter-card__img
                        img(src="img/ph-3.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Адмирала Лазарева
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Бунинская аллея

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медосмотры на Севастопольской
                    .medcenter-card__img
                        img(src="img/ph-4.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Малая Юшуньская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Каховская/Севастопольская

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Предварительный медосмотр на Жулебино
                    .medcenter-card__img
                        img(src="img/ph-5.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Генерала Кузнецова, 19к1
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Жулебино

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медосмотры на Бульваре Рокоссовского

                    .medcenter-card__img
                        img(src="img/ph-6.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Ивантеевская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Бульвар Рокоссовского

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Периодический медосмотр на Братиславской

                    .medcenter-card__img
                        img(src="img/ph-7.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Братиславская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Братиславская

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медкомиссия на Бунинской аллее

                    .medcenter-card__img
                        img(src="img/ph-8.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Адмирала Лазарева
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Бунинская аллея

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Медосмотры на Севастопольской

                    .medcenter-card__img
                        img(src="img/ph-9.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Малая Юшуньская
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Каховская/Севастопольская

                    button(type="button").medcenter-card__btn Записаться на осмотр

        li
            .medcenter-card
                .medcenter-card__item
                    .medcenter-card__title 
                        a(href="#") Предварительный медосмотр на Жулебино

                    .medcenter-card__img
                        img(src="img/ph-10.jpg")

                    ul.medcenter-card__info
                        li
                            .medcenter-card__icon
                                img(src="img/local.png" width="16" height="16")
                            .medcenter-card__article Москва, ул. Генерала Кузнецова, 19к1
                        li
                            .medcenter-card__icon
                                img(src="img/clock-min.png" width="16" height="16")
                            .medcenter-card__article Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                        li
                            .medcenter-card__icon
                                img(src="img/sircle-red.png" width="16" height="16")
                            .medcenter-card__article Жулебино

                    button(type="button").medcenter-card__btn Записаться на осмотр

    .allcenters-link
        a(href="#") Все медицинские центры

.analyzes.container
    h2.block-title Обследования и анализы при медосмотре 302н

    ul.analyzes-list
        li
            a(href="#") ЭКГ
        li
            a(href="#") Флюорография или рентгенографию органов грудной полости
        li
            a(href="#") ОАК и ОАМ
        li
            a(href="#") Биохимия крови на сахар и хостерин
        li
            a(href="#") Кровь на сифилис
        li
            a(href="#") Анализ на кишечные инфекции и возбудители брюшного тифа
        li
            a(href="#") Кал на гельминты
        li
            a(href="#") Анализ мочи
        li
            a(href="#") Мазок из носа и зева

.specialists.container
    h2.block-title Состав медкомиссии при профосмотре 302н

    ul.specialist-list
        li
            .specialist-list__icon
                img(src="img/spec-list.png" width="106" height="106")
            .specialist-list__article Терапевт
        li
            .specialist-list__icon
                img(src="img/spec-list.png" width="106" height="106")
            .specialist-list__article Нарколог
        li
            .specialist-list__icon
                img(src="img/spec-list.png" width="106" height="106")
            .specialist-list__article Психиатр
        li
            .specialist-list__icon
                img(src="img/spec-list.png" width="106" height="106")
            .specialist-list__article Невролог
        li
            .specialist-list__icon
                img(src="img/spec-list.png" width="106" height="106")
            .specialist-list__article Гинеколог (для женщин)

.typesblock.container
    h2.block-title Виды медосмотров

    .types-gallery.swiper-container
        .swiper-wrapper
            .swiper-slide 
                .types-gallery__item
                    .types-gallery__title 1. Предварительный<br> медосмотр
                    .types-gallery__article Требуется при устройстве на работу по определенным специальностям
                    button(type="button").btn Отправить заявку

            .swiper-slide 
                .types-gallery__item
                    .types-gallery__title 2. Периодический<br> медосмотр
                    .types-gallery__article Проводится дважды в год, позволяет выявить профессиональные заболевания
                    button(type="button").btn Отправить заявку

            .swiper-slide 
                .types-gallery__item
                    .types-gallery__title 3. Внеочередной<br> медицинский осмотр
                    .types-gallery__article Проводится по инициативе работодателя, как правило, необходим в период эпидемий
                    button(type="button").btn Отправить заявку

            .swiper-slide 
                .types-gallery__item
                    .types-gallery__title 4. Предрейсовые<br> осмотры
                    .types-gallery__article Перед рейсом измеряется температура, артериальное давление и пульс.
                    button(type="button").btn Отправить заявку

        .swiper-pagination

        .swiper-button-next
        .swiper-button-prev

.services.container
    h2.block-title Услуги и цены

    table.servicetable
        thead
            tr
                th 
                    span Вид медицинского осмотра
                th 
                    span № приказа
                th 
                    span Цена, руб.
                th 
                    span Онлайн запись
        tbody
            tr
                td
                    a(href="#").servicetable__link Медицинские осмотры (предварительные, периодические) без оформления личной медицинской книжки
                td
                    span 302Н
                td
                    .servicetable__hidden Цена, руб.
                    span от 1 000 руб. за 1 чел.
                td
                    .servicetable__btnblock
                        button(type="button").btn Отправить заявку

            tr
                td
                    a(href="#").servicetable__link Медицинские осмотры (предварительные, периодические) с оформлением личной медицинской книжки
                td
                    span 302Н
                td
                    .servicetable__hidden Цена, руб.
                    span от 2 000 руб. за 1 чел.
                td
                    .servicetable__btnblock
                        button(type="button").btn Отправить заявку

            tr
                td
                    a(href="#").servicetable__link Предрейсовые медицинские осмотры на территории клиники
                td
                    span 302Н
                td
                    .servicetable__hidden Цена, руб.
                    span 150 руб. / день
                td
                    .servicetable__btnblock
                        button(type="button").btn Отправить заявку

.conttxt-block.container
    h2.block-title Проведение медицинских осмотров работников
    .cont-text
        p В наших медицинских центрах проводятся медосмотры работников любой специальности. Частные лица могут приехать на медкомиссию в любой филиал в Москве и области в удобное время. Мы работаем без выходных, принимаем всех, независимо от прописки. Для юридических лиц мы организовываем обследования работников в наших клиниках или на территории заказчика (выездной профосмотр). Работаем по Москве и Московской области.

.form-block.container
    .form-block__column
        .form-block__img
            img(src="img/doc-ph.png" width="538" height="488")

    .form-block__column
        form.formloan(action="#")
            .formloan__title Онлайн заявка на профосмотр:
            .formloan__columns
                .formloan__column
                    .formloan__item
                        label.formloan__label
                            .formloan__sub-title Кол-во сотрудников:
                            .selectcustom
                                select
                                    option 10 чел.
                                    option 15 чел.
                                    option 20 чел.

                        label.formloan__label
                            .formloan__sub-title Имя
                            input(type="text" placeholder="Ваше имя").inp 

                        label.formloan__label
                            .formloan__sub-title Телефон
                            input(type="text" placeholder="+7 ___ ___-__-__").inp 

                    textarea.textarea(placeholder="Комментрарий")

                .formloan__column
                    .formloan__btnblock
                        button(type="submit").btn.formloan__btn Оформить заявку

                    .checkblock.formloan__checkblock
                        input(type="checkbox").check#check
                        label(for="check").checklabel
                            a(href="#") Я принимаю условия передачи информации




